@import "tailwindcss";

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #090F13;
    --color-secondary: #89ECFF;
    --color-secondary-hover: #6AD6EB;
    --color-third: #C6D2FF;
    --color-third-hover: #A3B3FF;
    --color-cfgray: #CFCFCF;
    --color-header: #FFFFFF;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-primary: #FAF8F1;
    --color-secondary: #034C53;
    --color-secondary-hover: #036973;
    --color-third: #536493;
    --color-third-hover: #6377b0;
    --color-cfgray: #44444E;
    --color-header: #000000;
  }
}


:root.dark {
  --color-primary: #090F13;
  --color-secondary: #89ECFF;
  --color-secondary-hover: #6AD6EB;
  --color-third: #C6D2FF;
  --color-third-hover: #A3B3FF;
  --color-cfgray: #CFCFCF;
  --color-header: #FFFFFF;
}

:root.dark strong {
  font-weight: 600;
  color: #FFFFFF;
}

:root.light {
  --color-primary: #FAF8F1;
  --color-secondary: #034C53;
  --color-secondary-hover: #036973;
  --color-third: #536493;
  --color-third-hover: #6377b0;
  --color-cfgray: #44444E;
  --color-header: #222831;
}

:root.light strong {
  font-weight: 600;
  color: #000000;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-header);
}


@theme inline {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-secondary-hover: var(--color-secondary-hover);
  --color-third: var(--color-third);
  --color-third-hover: var(--color-third-hover);
  --color-cfgray: var(--color-cfgray);
  --color-header: var(--color-header);

  --font-primary: var(--font-poppins);
  --font-mono: var(--font-anonymous-pro);
  --font-inter: var(--font-inter);
  --font-aldrich: var(--font-aldrich);
}

body {
  font-family: var(--font-primary);
  background-color: var(--color-primary);
  scroll-behavior: smooth;
}

section {
  font-family: var(--font-inter);
}

.fade-mask {
  -webkit-mask-image: linear-gradient(to bottom, transparent, black 15%, black 85%, transparent);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-image: linear-gradient(to bottom, transparent, black 15%, black 85%, transparent);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}

.fade-mask-horizontal {
  -webkit-mask-image: linear-gradient(to right, transparent, black 15%, black 85%, transparent);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-image: linear-gradient(to right, transparent, black 15%, black 85%, transparent);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}

p {
  line-height: 1.75;
}

blockquote {
  font-family: var(--font-inter);
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 15px;
  border-left: 3px solid #CFCFCF;
  display:inline-flex;
} 

@layer utilities {
  /* Chrome, Safari and Opera */
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}