@import "tailwindcss";

:root {
  --color-primary: #090F13;
  --color-secondary: #89ECFF;
  --color-cfgray: #CFCFCF;
}

@theme inline {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-cfgray: var(--color-cfgray);

  --font-primary: var(--font-poppins);
  --font-mono: var(--font-anonymous-pro);
  --font-inter: var(--font-inter);
  --font-aldrich: var(--font-aldrich);
}

body {
  font-family: var(--font-primary);
  background-color: var(--color-primary);
  scroll-behavior: smooth;
}

section {
  font-family: var(--font-inter);
}

.fade-mask {
  -webkit-mask-image: linear-gradient(to bottom, transparent, black 15%, black 85%, transparent);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-image: linear-gradient(to bottom, transparent, black 15%, black 85%, transparent);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}

.fade-mask-horizontal {
  -webkit-mask-image: linear-gradient(to right, transparent, black 15%, black 85%, transparent);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-image: linear-gradient(to right, transparent, black 15%, black 85%, transparent);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}

strong {
  font-weight: 600;
  color: #FFFFFF;
}

p {
  line-height: 1.75;
}

blockquote {
  font-family: var(--font-inter);
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 15px;
  border-left: 3px solid #CFCFCF;
  display:inline-flex;
} 

@layer utilities {
  /* Chrome, Safari and Opera */
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}